:root {
  --small-text-font-family: "Inter", Helvetica;
  --small-text-font-weight: 500;
  --small-text-font-size: 16px;
  --small-text-letter-spacing: 0px;
  --small-text-line-height: 150%;
  --small-text-font-style: normal;
  --heading-font-family: "Inter", Helvetica;
  --heading-font-weight: 600;
  --heading-font-size: 24px;
  --heading-letter-spacing: -0.48px;
  --heading-line-height: 120.00000476837158%;
  --heading-font-style: normal;
  --subheading-font-family: "Inter", Helvetica;
  --subheading-font-weight: 400;
  --subheading-font-size: 20px;
  --subheading-letter-spacing: 0px;
  --subheading-line-height: 120.00000476837158%;
  --subheading-font-style: normal;
  --body-base-font-family: "Inter", Helvetica;
  --body-base-font-weight: 400;
  --body-base-font-size: 16px;
  --body-base-letter-spacing: 0px;
  --body-base-line-height: 139.9999976158142%;
  --body-base-font-style: normal;
  --m3-label-large-font-family: "Roboto", Helvetica;
  --m3-label-large-font-weight: 500;
  --m3-label-large-font-size: 14px;
  --m3-label-large-letter-spacing: 0.10000000149011612px;
  --m3-label-large-line-height: 20px;
  --m3-label-large-font-style: normal;
  --color-text-default-default: var(--color-primitives-gray-900);
  --color-text-default-secondary: var(--color-primitives-gray-500);
  --color-background-default-default: var(--color-primitives-white-1000);
  --color-border-default-default: var(--color-primitives-gray-300);
  --m3-schemes-background: rgba(254, 247, 255, 1);
  --m3-schemes-outline-variant: rgba(202, 196, 208, 1);
  --color-primitives-slate-200: rgba(227, 227, 227, 1);
  --color-primitives-gray-900: rgba(30, 30, 30, 1);
  --color-primitives-gray-500: rgba(117, 117, 117, 1);
  --color-primitives-white-1000: rgba(255, 255, 255, 1);
  --color-primitives-white-500: rgba(255, 255, 255, 0.7);
  --color-primitives-gray-300: rgba(217, 217, 217, 1);
  --color-primitives-gray-600: rgba(68, 68, 68, 1);
  --size-space-200: 8px;
  --size-space-400: 16px;
  --size-space-600: 24px;
  --size-radius-200: 8px;
  --size-space-1200: 48px;
  --size-space-1600: 64px;
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-color-mode="SDS-light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-color-mode="SDS-light"] {
  --color-text-default-default: var(--color-primitives-gray-900);
  --color-text-default-secondary: var(--color-primitives-gray-500);
  --color-background-default-default: var(--color-primitives-white-1000);
  --color-border-default-default: var(--color-primitives-gray-300);
}

[data-color-mode="SDS-dark"] {
  --color-text-default-default: var(--color-primitives-white-1000);
  --color-text-default-secondary: var(--color-primitives-white-500);
  --color-background-default-default: var(--color-primitives-gray-900);
  --color-border-default-default: var(--color-primitives-gray-600);
}

[data-m3-mode="light"] {
  --m3-schemes-background: rgba(254, 247, 255, 1);
  --m3-schemes-outline-variant: rgba(202, 196, 208, 1);
}

[data-m3-mode="light-high-contrast"] {
  --m3-schemes-background: rgba(253, 247, 255, 1);
  --m3-schemes-outline-variant: rgba(69, 65, 74, 1);
}

[data-m3-mode="light-medium-contrast"] {
  --m3-schemes-background: rgba(253, 247, 255, 1);
  --m3-schemes-outline-variant: rgba(125, 121, 131, 1);
}

[data-m3-mode="dark"] {
  --m3-schemes-background: rgba(20, 18, 24, 1);
  --m3-schemes-outline-variant: rgba(73, 69, 79, 1);
}

[data-m3-mode="dark-high-contrast"] {
  --m3-schemes-background: rgba(20, 18, 24, 1);
  --m3-schemes-outline-variant: rgba(206, 200, 212, 1);
}

[data-m3-mode="dark-medium-contrast"] {
  --m3-schemes-background: rgba(20, 18, 24, 1);
  --m3-schemes-outline-variant: rgba(134, 129, 139, 1);
}

[data-m3-mode="monochrome-LT"] {
  --m3-schemes-background: rgba(253, 247, 255, 1);
  --m3-schemes-outline-variant: rgba(198, 198, 198, 1);
}

[data-m3-mode="monochrome-DT"] {
  --m3-schemes-background: rgba(20, 18, 24, 1);
  --m3-schemes-outline-variant: rgba(71, 71, 71, 1);
}

[data-m3-mode="pink-LT"] {
  --m3-schemes-background: rgba(253, 247, 255, 1);
  --m3-schemes-outline-variant: rgba(212, 194, 199, 1);
}

[data-m3-mode="pink-DT"] {
  --m3-schemes-background: rgba(20, 18, 24, 1);
  --m3-schemes-outline-variant: rgba(80, 67, 72, 1);
}

[data-m3-mode="rose-LT"] {
  --m3-schemes-background: rgba(253, 247, 255, 1);
  --m3-schemes-outline-variant: rgba(215, 194, 195, 1);
}

[data-m3-mode="rose-DT"] {
  --m3-schemes-background: rgba(20, 18, 24, 1);
  --m3-schemes-outline-variant: rgba(82, 67, 69, 1);
}

[data-m3-mode="red-LT"] {
  --m3-schemes-background: rgba(253, 247, 255, 1);
  --m3-schemes-outline-variant: rgba(216, 194, 190, 1);
}

[data-m3-mode="red-DT"] {
  --m3-schemes-background: rgba(20, 18, 24, 1);
  --m3-schemes-outline-variant: rgba(83, 67, 65, 1);
}

[data-m3-mode="orange-LT"] {
  --m3-schemes-background: rgba(253, 247, 255, 1);
  --m3-schemes-outline-variant: rgba(215, 194, 184, 1);
}

[data-m3-mode="orange-DT"] {
  --m3-schemes-background: rgba(20, 18, 24, 1);
  --m3-schemes-outline-variant: rgba(82, 68, 60, 1);
}

[data-m3-mode="yellow-LT"] {
  --m3-schemes-background: rgba(253, 247, 255, 1);
  --m3-schemes-outline-variant: rgba(208, 197, 180, 1);
}

[data-m3-mode="yellow-DT"] {
  --m3-schemes-background: rgba(20, 18, 24, 1);
  --m3-schemes-outline-variant: rgba(77, 70, 57, 1);
}

[data-m3-mode="chartreuse-LT"] {
  --m3-schemes-background: rgba(253, 247, 255, 1);
  --m3-schemes-outline-variant: rgba(200, 199, 183, 1);
}

[data-m3-mode="chartreuse-DT"] {
  --m3-schemes-background: rgba(20, 18, 24, 1);
  --m3-schemes-outline-variant: rgba(71, 72, 59, 1);
}

[data-m3-mode="green-LT"] {
  --m3-schemes-background: rgba(253, 247, 255, 1);
  --m3-schemes-outline-variant: rgba(193, 201, 190, 1);
}

[data-m3-mode="green-DT"] {
  --m3-schemes-background: rgba(20, 18, 24, 1);
  --m3-schemes-outline-variant: rgba(66, 73, 64, 1);
}

[data-m3-mode="teal-LT"] {
  --m3-schemes-background: rgba(253, 247, 255, 1);
  --m3-schemes-outline-variant: rgba(190, 201, 197, 1);
}

[data-m3-mode="teal-DT"] {
  --m3-schemes-background: rgba(20, 18, 24, 1);
  --m3-schemes-outline-variant: rgba(63, 73, 70, 1);
}

[data-m3-mode="cyan-LT"] {
  --m3-schemes-background: rgba(253, 247, 255, 1);
  --m3-schemes-outline-variant: rgba(191, 200, 204, 1);
}

[data-m3-mode="cyan-DT"] {
  --m3-schemes-background: rgba(20, 18, 24, 1);
  --m3-schemes-outline-variant: rgba(64, 72, 75, 1);
}

[data-m3-mode="blue-LT"] {
  --m3-schemes-background: rgba(253, 247, 255, 1);
  --m3-schemes-outline-variant: rgba(197, 198, 208, 1);
}

[data-m3-mode="blue-DT"] {
  --m3-schemes-background: rgba(20, 18, 24, 1);
  --m3-schemes-outline-variant: rgba(68, 70, 79, 1);
}

[data-m3-mode="indigo-LT"] {
  --m3-schemes-background: rgba(253, 247, 255, 1);
  --m3-schemes-outline-variant: rgba(200, 197, 208, 1);
}

[data-m3-mode="indigo-DT"] {
  --m3-schemes-background: rgba(20, 18, 24, 1);
  --m3-schemes-outline-variant: rgba(71, 70, 79, 1);
}

[data-m3-mode="purple-LT"] {
  --m3-schemes-background: rgba(253, 247, 255, 1);
  --m3-schemes-outline-variant: rgba(203, 196, 207, 1);
}

[data-m3-mode="purple-DT"] {
  --m3-schemes-background: rgba(20, 18, 24, 1);
  --m3-schemes-outline-variant: rgba(74, 69, 78, 1);
}
