<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='collection_globals.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='collection_styleguide.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='collection_style.css') }}" />
  </head>
  <body>
    <div class="home-page-add">
      <div class="sidebar">
        <div class="list">
          <div class="menu-item">
            <div class="logo-placeholder"></div>
            <div class="text-wrapper">Library</div>
          </div>
          <div class="menu-item">
            <div class="logo-placeholder"></div>
            <div class="text-wrapper">Add Items</div>
          </div>
          <div class="div">
            <div class="logo-placeholder"></div>
            <div class="text-wrapper">Add Collection</div>
          </div>
        </div>
        <div class="logo-placeholder-2"></div>
        <div class="title">Shelf Sync</div>
        <div class="menu-item-2">
          <div class="logo-placeholder"></div>
          <div class="text-wrapper">Support</div>
        </div>
        <div class="menu-item-3">
          <div class="logo-placeholder"></div>
          <div class="text-wrapper">Logout</div>
        </div>
      </div>
      <header class="header">
        <div class="filter">
          <img class="img" src="{{ url_for('static', filename='img/filter.svg') }}" />
          <div class="label">Filter</div>
        </div>
        <div class="search">
          <img class="img" src="{{ url_for('static', filename='img/search.svg') }}" /> <input class="input" placeholder="Start Searching..." type="text" />
        </div>
        <div class="text-wrapper-2">Add Collection</div>
      </header>
      <div class="text-wrapper-3">Collection Title</div>
      <div class="input-field">
        <p class="p">Limit 40 characters. e.g. (My Books, Reading List, My Shelf, etc.)</p>
        <div class="div-wrapper"><div class="text-wrapper-4">Value</div></div>
      </div>
      <div class="text-wrapper-5">Language</div>
      <div class="select-field">
        <p class="p">
          The display language of the items in this collection. Determines how best to sort alphabetically.
        </p>
        <div class="select">
          <div class="text-wrapper-4">Value</div>
          <img class="chevron-down" src="{{ url_for('static', filename='img/chevron-down.svg') }}" />
        </div>
      </div>
      <button class="button"><button class="button-2">Add Collection</button></button>
    </div>
  </body>
</html>
