<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='collectionview_globals.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='collectionview_styleguide.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='collectionview_style.css') }}" />
  </head>
  <body>
    <div class="home-page-collection">
      <div class="sidebar">
        <div class="list">
          <div class="library">
            <div class="logo-placeholder"></div>
            <div class="text-wrapper">Library</div>
          </div>
          <div class="add-items">
            <div class="logo-placeholder"></div>
            <div class="text-wrapper">Add Items</div>
          </div>
          <div class="add-collection">
            <div class="logo-placeholder"></div>
            <div class="text-wrapper">Add Collection</div>
          </div>
        </div>
        <div class="div"></div>
        <div class="title">Shelf Sync</div>
        <div class="support">
          <div class="logo-placeholder"></div>
          <div class="text-wrapper">Support</div>
        </div>
        <div class="logout">
          <div class="logo-placeholder"></div>
          <div class="text-wrapper">Logout</div>
        </div>
      </div>
      <div class="panel-image-content">
        <div class="image"></div>
        <div class="text-content-flow">
          <div class="text-content-heading">
            <div class="text-wrapper-2">Heading</div>
            <div class="text-wrapper-3">Subheading</div>
          </div>
          <div class="text">
            <p class="p">
              Body text for your whole article or post. We'll put in some lorem ipsum to show how a filled-out page
              might look:
            </p>
          </div>
          <div class="text">
            <p class="p">
              Excepteur efficient emerging, minim veniam anim aute carefully curated Ginza conversation exquisite
              perfect nostrud nisi intricate Content. Qui&nbsp;&nbsp;international first-class nulla ut. Punctual
              adipisicing, essential lovely queen tempor eiusmod irure. Exclusive izakaya charming Scandinavian
              impeccable aute quality of life soft power pariatur Melbourne occaecat discerning. Qui wardrobe aliquip,
              et Porter destination Toto remarkable officia Helsinki excepteur Basset hound. Zürich sleepy perfect
              consectetur.
            </p>
          </div>
        </div>
      </div>
      <div class="text-content-heading-2">
        <div class="text-wrapper-2">My Collection</div>
        <div class="text-wrapper-3">Subheading</div>
      </div>
    </div>
  </body>
</html>
