<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='lib_globals.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='lib_styleguide.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='lib_style.css') }}" />
  </head>
  <body>
    <div class="home-page-library">
      <div class="sidebar">
        <div class="title">Shelf Sync</div>
        <nav class="list">
          <a href="/library" class="library">
            <div class="logo-placeholder"></div>
            <span class="text-wrapper">Library</span>
          </a>
          <a href="/add_items" class="add-items">
            <div class="logo-placeholder"></div>
            <span class="text-wrapper">Add Items</span>
          </a>
          <a href="/add_collection" class="add-collection">
            <div class="logo-placeholder"></div>
            <span class="text-wrapper">Add Collection</span>
          </a>
        </nav>
        <a href="/support" class="support">
          <div class="logo-placeholder"></div>
          <span class="text-wrapper">Support</span>
        </a>
        <a href="/logout" class="logout">
          <div class="logo-placeholder"></div>
          <span class="text-wrapper">Logout</span>
        </a>
      </div>
      <header class="header">
        <div class="filter">
          <img class="img" src="{{ url_for('static', filename='img/filter.svg') }}" />
          <div class="label">Filter</div>
        </div>
        <div class="search">
          <img class="img" src="{{ url_for('static', filename='img/search.svg') }}" />
          <input class="input" placeholder="Start Searching..." type="text" />
        </div>
        <p class="p">Borrow Books from the Library</p>
      </header>
      <img class="line" src="{{ url_for('static', filename='img/line-1.svg') }}" />
      <p class="text-wrapper-2">Start by adding a Collection!</p>
    </div>
  </body>
</html>