<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='loginadmin_globals.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='loginadmin_styleguide.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='loginadmin_style.css') }}" />
  </head>
  <body>
    <div class="login-admin">
      <div class="div">
        <div class="content">
          <div class="input-and-button">
            <input class="field" placeholder="username" type="text" />
            <div class="label-wrapper"><div class="label">password</div></div>
            <button class="button"><div class="text-wrapper">Sign In</div></button>
          </div>
          <img class="check-box" src="img/check-box.svg" />
          <div class="text-wrapper-2">Keep Logged In</div>
        </div>
        <div class="text-wrapper-4">Shelf Sync</div>
        <div class="copy"><div class="text-wrapper-5">Login as Admin User</div></div>
      </div>
    </div>
  </body>
</html>
