<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='logout_globals.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='logout_styleguide.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='logout_style.css') }}" />
  </head>
  <body>
    <div class="home-page-logout">
      <div class="alert">
        <div class="div">
          <div class="material"></div>
          <div class="title-and">
            <p class="a-short-title-is">Are you sure you want to logout?</p>
            <div class="a-description-should"></div>
          </div>
          <div class="buttons">
            <button class="button"><div class="title">Yes</div></button>
            <div class="separator"></div>
            <div class="button-preferred"><div class="text-wrapper">No</div></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
