<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='personal_globals.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='personal_styleguide.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='personal_style.css') }}" />
  </head>
  <body>
    <div class="home-page-personal">
      <div class="sidebar">
        <div class="list">
          <div class="library">
            <div class="logo-placeholder"></div>
            <div class="text-wrapper">Library</div>
          </div>
          <div class="add-items">
            <div class="logo-placeholder"></div>
            <div class="text-wrapper">Add Items</div>
          </div>
          <div class="add-collection">
            <div class="logo-placeholder"></div>
            <div class="text-wrapper">Add Collection</div>
          </div>
        </div>
        <div class="div"></div>
        <div class="title">Shelf Sync</div>
        <div class="support">
          <div class="logo-placeholder"></div>
          <div class="text-wrapper">Support</div>
        </div>
        <div class="logout">
          <div class="logo-placeholder"></div>
          <div class="text-wrapper">Logout</div>
        </div>
      </div>
      <div class="card-grid-image">
        <div class="text-content-heading">
          <div class="text-wrapper-2">My Collection</div>
          <div class="text-wrapper-3">Subheading</div>
        </div>
        <div class="cards">
          <div class="card">
            <div class="image"></div>
            <div class="body">
              <div class="text">
                <div class="text-wrapper-2">Title</div>
                <div class="text-wrapper-4"></div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="image"></div>
            <div class="body">
              <div class="text">
                <div class="text-wrapper-2">Title</div>
                <div class="text-wrapper-4"></div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="image"></div>
            <div class="body">
              <div class="text">
                <div class="text-wrapper-2">Title</div>
                <div class="text-wrapper-4"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="cards-2">
          <div class="card">
            <div class="image"></div>
            <div class="body">
              <div class="text">
                <div class="text-wrapper-2">Title</div>
                <div class="text-wrapper-4"></div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="image"></div>
            <div class="body">
              <div class="text">
                <div class="text-wrapper-2">Title</div>
                <div class="text-wrapper-4"></div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="image"></div>
            <div class="body">
              <div class="text">
                <div class="text-wrapper-2">Title</div>
                <div class="text-wrapper-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="assistive-chip">
        <div class="state-layer"><div class="label-text">Overdue</div></div>
      </div>
    </div>
  </body>
</html>
